<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  <main class="container mt-5">
    <h1 class="h1">TODO APP</h1>
    <div class="input-group">
      <input type="text" name="task" id="task" placeholder="Add Task" class="form-control">
      <button id="add-button" class="btn btn-primary">ADD</button>
    </div>

    <% if (todos.length > 0) { %>
      <div id="todo-tables" class="mt-5">
        <h2>Todos</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Done</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% for (const todo of todos) { %>
              <tr>
                <th scope="row"><%= todo.id %></th>
                <td><%= todo.title %></td>
                <td>
                  <input
                    type="checkbox"
                    name="done-check"
                    id="done-check-<%= todo.id %>"
                    class="form-check-input"
                    data-id="<%= todo.id %>"
                    <%= todo.done == 1 ? "checked" : "" %>
                  >
                </td>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    id="delete-<%= todo.id %>"
                    name="delete-button"
                    data-id="<%= todo.id %>"
                  >DELETE</button>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
  </main>
  <script>
    // 追加イベント
    document.getElementById("add-button").addEventListener("click", () => {
      const title = document.getElementById("task").value;
      if (!title) {
        return;
      }
      const xhr = new XMLHttpRequest();
      xhr.onreadystatechange = () => {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log(xhr.responseText);
          location.reload();
        }
      }
      xhr.open("POST", "http://localhost:3000/todos");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify({
        title: title
      }))
    }, false);
    // チェックイベント
    for (const doneCheck of document.getElementsByName("done-check")) {
      doneCheck.addEventListener("change", (event) => {
        const id = event.currentTarget.dataset.id;
        const done = event.currentTarget.checked ? 1 : 0;
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4 && xhr.status === 200) {
            console.log(xhr.responseText);
          }
        }
        xhr.open("PUT", "http://localhost:3000/todos");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({
          id: id,
          done: done
        }))
      }, false)
    }
    // デリートイベント
    for (const deleteButton of document.getElementsByName("delete-button")) {
      deleteButton.addEventListener("click", (event) => {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4 && xhr.status === 200) {
            console.log(xhr.responseText);
            location.reload()
          }
        }
        xhr.open("DELETE", "http://localhost:3000/todos");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({
          id: event.currentTarget.dataset.id
        }))
      }, false)
    }
  </script>
</body>
</html>